name: Shippy

on:
  pull_request:
    types:
      - opened
      - edited
      - ready_for_review
      - synchronize
      - labeled
      - unlabeled
  workflow_dispatch:
    # NOTE: To prevent GitHub from adding PRs to the merge queue before check is done,
    # make sure that there is a ruleset that requires the "Shippy" check to pass.
    merge_group:
      types:
        - checks_requested

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-pr-description:
    uses: ./.github/workflows/check-pr.yml
